<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flower Shop</title>
    <!-- link Poppins font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <!-- link custom css files -->
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
    <!-- Header section -->
    <header class="header">
        <div class="container">
            <nav class="flex items-center justify-between">
                <div class="logo">
                    <a href="#">Flower<span>Shop</span></a>
                </div>
                <div class="nav-ul">
                    <ul class=" flex items-center justify-center">
                        <li class="nav-li"><a href="#" class="nav-link">Home</a></li>
                        <li class="nav-li"><a href="#" class="nav-link">Feature</a></li>
                        <li class="nav-li"><a href="#" class="nav-link">Services</a></li>
                        <li class="nav-li"><a href="#" class="nav-link">Subscribe</a></li>
                    </ul>
                </div>
            </nav>
            <div class="main flex items-center justify-center">
                <div class="text">
                    <h1>Let's make beautiful flowers a part of your life.</h1>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page
                        when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                        distribution of letters.</p>
                    <button class="btn">Shop Now</button>
                </div>
                <div class="img flex items-center justify-center">
                    <img src="assets/images/pngwing 10.png" alt="">
                </div>
            </div>
        </div>
    </header>

    <!-- Feature section -->
    <section class="feature">
        <div class="container">
            <div class="section-title">
                <h3>Our Featured Flowers</h3>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when
                    looking at its layout.</p>
            </div>
            <div class="main flex items-start justify-evenly">
                <article class="flex items-center justify-start flex-column">
                    <div class="img img-1 flex items-end justify-center">
                        <img src="assets/images/pngwing 5.png" alt="">
                    </div>
                    <div class="title">
                        <a href="#" class="link">Pink Flower Tree</a>
                    </div>
                </article>
                <article class="flex items-center justify-start flex-column">
                    <div class="img img-2 flex items-end justify-center">
                        <img src="assets/images/pngwing 6.png" alt="">
                    </div>
                    <div class="title">
                        <a href="#" class="link">Blue Flower Tree</a>
                    </div>
                </article>
                <article class="flex items-center justify-start flex-column">
                    <div class="img img-3 flex items-end justify-center">
                        <img src="assets/images/pngwing 7.png" alt="">
                    </div>
                    <div class="title">
                        <a href="#" class="link">Silver Flower Tree</a>
                    </div>
                </article>
            </div>
        </div>
    </section>

    <!-- Optional Section -->
    <section class="services">
        <div class="container">
            <div class="main flex items-center justify-evenly">
                <article class="flex items-center justify-center flex-column">
                    <div class="img">
                        <img src="assets/images/Group 57.png" alt="">
                    </div>
                    <div class="text">
                        <h5>Same Day Delivery. Click & Collect.</h5>
                    </div>
                </article>
                <article class="flex items-center justify-center flex-column">
                    <div class="img img-2">
                        <img src="assets/images/Group 58.png" alt="">
                    </div>
                    <div class="text">
                        <h5>Fresh Flowers. Local Growers.</h5>
                    </div>
                </article>
                <article class="flex items-center justify-center flex-column">
                    <div class="img img-3">
                        <img src="assets/images/Group 59.png" alt="">
                    </div>
                    <div class="text">
                        <h5>24/7 Free Support.</h5>
                    </div>
                </article>
            </div>
        </div>
    </section>

    <!-- Hot section -->
    <section class="hot">
        <div class="container">
            <div class="main flex items-center justify-evenly">
                <div class="text">
                    <h3>Hot Deal ! Sale Up To 25% <span>Off</span></h3>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                    <button class="btn">Sign Up</button>
                </div>
                <div class="img flex items-center justify-center">
                    <img src="assets/images/pngwing 8.png" alt="">
                </div>
            </div>
        </div>
    </section>


    <!-- Social section -->
    <section class="social">
        <div class="container">
            <div class="section-title">
                <h3>Instagram</h3>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
            </div>
            <div class="main flex items-center justify-evenly">
                <div class="img">
                    <img src="assets/images/Rectangle 4.png" alt="">
                </div>
                <div class="img">
                    <img src="assets/images/Rectangle 5.png" alt="">
                </div>
                <div class="img">
                    <img src="assets/images/Rectangle 6.png" alt="">
                </div>
                <div class="img">
                    <img src="assets/images/Flower 01.png" alt="">
                </div>
            </div>
        </div>
    </section>


    <!-- Subscribe section -->
    <section class="subscribe"> 
        <div class="container">
            <div class="section-title">
                <h3>Get The Latest Deals</h3>
                <p>$30 coupon for first shopping</p>
            </div>
            <div class="main">
                <form class="flex items-center justify-center">
                    <input type="email" name="email" id="email" placeholder="Enter your email hare...">
                    <button type="submit" class="btn">Subscribe</button>
                </form>
            </div>
        </div>
    </section>

    <!-- Footer section -->
    <footer>
        <div class="container">
            <div class="section-title">
                <h3>Flower<span>Shop</span></h3>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
            </div>
        </div>
        <p>&copy; 2020-2023, FlowerShop.com. All rights reserved. </p>
    </footer>
</body>

</html>